<button class="w-100 updateBtn beneficiaryBtn" data-toggle="modal" data-target="#beneficiaryModal" data='{{{unobjectify this}}}'> 
    {{name}}
    <i class="fas fa-times beneficiaryDelete" data='{{{unobjectify this}}}'></i>
</button>

{{!-- <button class="w-100 updateBtn beneficiaryBtn" data-toggle="modal" data-target="#beneficiaryModal" data='{{{unobjectify this}}}'> 
    <span data='{{{unobjectify this}}}'>{{name}}</span>
    <i class="fas fa-times beneficiaryDelete" data='{{{unobjectify this}}}'></i>
</button> --}}
