<button class="w-100 updateBtn executorBtn" data-toggle="modal" data-target="#executorModal" data='{{{unobjectify this}}}'> 
    {{name}}
    <i class="fas fa-times executorDelete" data='{{{unobjectify this}}}'></i>
</button>

{{!-- <button class="w-100 updateBtn executorBtn" data-toggle="modal" data-target="#executorModal" data='{{{unobjectify this}}}'> 
    <span data='{{{unobjectify this}}}'>{{name}}</span>
    <i class="fas fa-times executorDelete" data='{{{unobjectify this}}}'></i>
</button> --}}