<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <h3>{{user.address}}</h3>
    <h3>{{user.ceremony}}</h3>
    <h3>{{user.casket}}</h3>
    <h4>{{user.DOB}}</h4>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>

    <!-- home section start -->
    <section class="user">
      <div class="box-1">
        <div class="box-1l">
          <img src="./img/icon.jpg" alt="usericons">
        </div>
        <div class="box-1r">
          <p>(user name here)</p>
          <p class="welcome">welcome back!</p>
        </div>
        
      </div>
      <div class="box-2">
        <div class="box-2l">
          <p>Finish your Will</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, incidunt.</p>
          <button>Continue</button>
        </div>
        <div class="box-2r">
          <p><i class="fas fa-long-arrow-alt-down"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          <p><i class="fas fa-check-square"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          <p><i class="fas fa-long-arrow-alt-down"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          <p><i class="fas fa-thumbs-up"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
      </div>
        
          
          
            
          

    </section>

    <!--Modal #1-->
    <!-- <div class="text-1">Hi David</div>
    <div class="text-2">Welcome Back</div>
    <div class="box-col">
      <div class="box-l">

        <a href="#">Continue</a>
      </div>
      <div class="box-r">
        <a href="#">Continue</a>
      </div>
    </div> -->
    <!--Modal #1-->
