<header class="header">
  <div class="welcome">Welcome back!</div>
  <ul class="menu">
    <li class="dropdown" style="float:left;">
      <a href="#">Options</a>
      <div class="dropdown-content" style="left:0;">
        <button><i class="fas fa-envelope-square"> Email</i></button>
        <button><i class="fas fa-download"> Download</i></button>
        <button><i class="fas fa-share-alt-square"> Share</i></button>
      </div>
    </li>
    <li><a href="/api/pdf/{{account.id}}" target="_blank">Preview</a></li>
    <li><a href="/" id="logout">Logout</a></li>
  </ul>
</header>

<section class="user align-items-center">
  <div class="logo">Thy<span>Will</span></div>


  {{!-- <h2 class="title">Your Will is <span class="status">in Progress</span></h2> --}}

  <div class="box-2">
    <div class="max-width">
      <div class="carousel 
      owl-carousel
      ">
        <div class="card">
            <div class="box-head">
              {{#if user.gender}}
              <img src="/assets/images/users/oldman.jpg" alt="oldman">
              {{else}}
              <img src="/assets/images/users/oldlady.jpg" alt="oldlady">
              {{/if}}
              <div>
                <strong>Will owner:</strong>
                <p>{{user.name}}</p>
              </div>
            </div>
            <p><strong>Email:</strong>
               {{!-- <a href="mailto:{{email}}"> --}}
                 {{account.email}}
                 {{!-- </a> --}}
                 </p>
            <p><strong>D.O.B:</strong> {{user.DOB}}</p>
            <p><strong>Address:</strong> {{user.address}}</p>
            <p><strong>Casket Instructions:</strong> {{user.casket}}</p>
            <p><strong>Ceremonial Instructions:</strong> {{user.ceremony}}</p>
            <button id="editUser" data-toggle="modal" data-target="#userModal">Edit</button>
        </div>
        
        <div class="card" id="part-1">
          <h3 class="num">1</h3>
          <h4>Benificiaries</h4>
          <p>Individuals and/or organisations to inherit.</p>
          <div class="w-100 part-1-list" id="part-1-list">
            {{#each beneficiaries}}
            {{> beneficiary-details}}
            {{/each}}
          </div>
          <button data-toggle="modal" data-target="#beneficiaryModal" id="launchBeneficiary"><i class="fas fa-plus"></i></button>
        </div>

        <div class="card" id="part-2">
          <h3 class="num">2</h3>
          <h4>Executors</h4>
          <p>The ones to execute your will.</p>
          {{#each executors}}
          {{> executor-details}}
          {{/each}}
          <button data-toggle="modal" data-target="#executorModal" id="launchExecutor"><i class="fas fa-plus"></i></button>
        </div>

        <div class="card" id="part-3">
          <h3 class="num">3</h3>
          <h4>Asset</h4>
          <p>A list of your major Assets.</p>
          {{#each assets}}
          {{> asset-details}}
          {{/each}}
          <button data-toggle="modal" data-target="#assetModal" id="launchAsset"><i class="fas fa-plus"></i></button>

        </div>
        <div class="card" id="part-4">
          <h3 class="num">4</h3>
          <h4>Assets Apportioning</h4>
          <p>Set up percentages for each benificiary.</p>
          {{#each assetApportions}}
          {{> assetApportion-details}}
          {{/each}}
          <button data-toggle="modal" data-target="#assetApportionModal" id="launchAssetApportion"><i class="fas fa-plus"></i></button>

        </div>
        <div class="card" id="part-5">
          <h3 class="num">5</h3>
          <h4>Witness</h4>
          <p>Basic info of your nominated Witness</p>
          {{#each witnesses}}
          {{> witness-details}}
          {{/each}}
          <button data-toggle="modal" data-target="#witnessModal" id="launchWitness"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>


{{!↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  BeneficiaryModal  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓}}
<div class="modal fade custom-modal" id="beneficiaryModal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="beneficiaryModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form id="beneficiary-form">
        <div class="modal-body">
          <div class="form-group" 
            {{!-- style="{display:none}" --}}
            > {{! jack added form group for benificary ID please check  }}
            <label>Beneficiary ID</label>
            <input type="text" id="beneficiaryId" class="form-control" enabled = false />
          </div>

          <div class="form-group">
            <label>Name *</label>
            <input type="text" id="beneficiaryName" class="form-control" placeholder="First & Last" required />
          </div>

          <div class="form-group">
            <label for="DOB">DOB:</label>
            <input type="text" id="beneficiaryDOB" class="form-control"/>
          </div>

          <div class="form-group">
            <label>Relationship:</label>
            <input type="text" id="beneficiaryRelation" class="form-control" placeholder="First & Last" required />
          </div>

          <div class="form-group">
            <label>Address *</label>
            <input type="text" id="beneficiaryAddress" class="form-control" placeholder="Example: 79 Main Road, Suburb NSW" required />
          </div>

          <div class="form-group"> {{! added by jack check this.}}
            <input type="checkbox" id="beneficiaryIsChild" class="btn-check" placeholder= required autocomplete="off"/>
            <label class="btn btn-outline-primary" for="beneficiaryIsChild">Minor</label>
          </div>

          <div class="form-group"> {{! added by jack check this.}}
            <input type="checkbox" id="beneficiaryIsCharity" class="btn-check" placeholder= required autocomplete="off" />
            <label class="btn btn-outline-primary" for="beneficiaryIsCharity">Charity</label>
          </div>

          <div class="form-group"> {{! added by jack check this.}}
            <label>Guardian Name</label>
            <input type="text" id="beneficiaryGuardianName" class="form-control">
          </div>

          <div class="form-group"> {{! added by jack check this.}}
            <label>Guardian Address</label>
            <input type="text" id="beneficiaryGuardianAddress" class="form-control" placeholder="example: # street name, suburb, state, post-code" />
          </div>

          <div class="modal-footer" id="beneficiaryModalFooter">
              <button type="submit" class="btn btn-light" id="addBeneficiary"></button>
          </div>

        </div>
      </form>  
    </div>     
  </div>
</div> 
  
  
{{!↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓  ExecutorModal  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓}}
<div class="modal fade custom-modal" id="executorModal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form" aria-hidden="true">
  <div class="modal-dialog modal-lg"> {{! model header added by jack}}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="executorModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form id="executor-form">
        <div class="modal-body">
          <div class="form-group"> {{! jack added form for  executor ID please check  }}
            <label>Executor ID:</label>
            <input type="text" id="executorId" class="form-control"/>
          </div>

          <div class="form-group"> {{! jack added form for  executor name please check  }}
            <label>Executor Name *</label>
            <input type="text" id="executorName" class="form-control" required />
          </div>

          <div class="form-group"> {{! jack added form for  executor DOB please check  }}
            <label>Executor DOB:</label>
            <input type="text" id="executorDOB" class="form-control"/>
          </div>

          <div class="form-group"> {{! jack added form for  executor DOB please check  }}
            <label>Executor Relationship:</label>
            <input type="text" id="executorRelationship" class="form-control"/>
          </div>

          <div class="form-group"> {{! jack added form for  executor address please check  }}
            <label>Executor Address *</label>
            <input type="text" id="executorAddress" class="form-control" required />
          </div>

          <div class="form-group"> {{! jack added form for  executor is alternate  please check  }}
            <label>Executor Alternate *</label>
            <select class="form-control" id="executorIsAlternate" required>
              <option value = "true" >Yes</option>
              <option value = "false">No</option>
            </select>
          </div>

          <div class="modal-footer" id="executorModalFooter">
            <button type="submit" class="btn btn-light" id="addExecutorBtn"></button>
          </div>

        </div>
      </form>  
    </div>     
  </div>
</div>


{{!↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ assetModal ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓}}
<div class="modal fade custom-modal" id="assetModal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form" aria-hidden="true">
  <div class="modal-dialog modal-lg"> {{! model assets header added by jack}}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assetModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form id="asset-form">
        <div class="modal-body">
          <div class="form-group"> {{! jack added form for asset ID please check  }}
            <label>Asset ID</label>
            <input type="text" id="assetId" class="form-control"/>
          </div>

          <div class="form-group"> {{! jack added form asset description }}
            <label>Asset Description *</label>
            <input type="text" id="assetDescription" class="form-control" required />
          </div>

<<<<<<< HEAD
            <div class="form-group"> {{! jack added form for  asset value }}
              <label>Asset Value</label>
              <input type="text" id="assetValue" class="form-control" enabled = required />
            </div>
=======
          <div class="form-group"> {{! jack added form for type of asset, text for now could be drop down}}
            <label>Asset Type *</label>
            <select class="form-control" id="assetType" required>
              <option value="Monetary">Monetary</option>
              <option value="Physical">Physical</option>
              <option value="Sentimental">Sentimental</option>
              <option value="Miscellaneous">Miscellaneous</option>
              <option value=""></option>
            </select>
          </div>
>>>>>>> 402a2c6bd5eed0056f9787d7300065fa082af2b6

          <div class="form-group"> {{! jack added form for  asset value }}
            <label>Asset value *</label>
            <input type="number" id="assetValue" class="form-control" required />
          </div>

          <div class="modal-footer" id="assetModalFooter"> {{!asset model save button}}
            <button type="submit" class="btn btn-light" id="addAssetBtn" >add</button>
          </div>

        </div>
      </form>  
    </div> 
  </div>     
</div>


















{{!↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ witnessModal ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓}}
  <div class="modal fade custom-modal" id="witnessModal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="witnessModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="witness-form">
          <div class="modal-body">
            <div class="form-group">
              <label>Name *</label>
              <input type="text" id="witnessName" class="form-control" placeholder="First Last" required />
            </div>
<<<<<<< HEAD
=======
            <div class="form-group">
              <label>Relationship:</label>
              <select class="form-control" id="witnessRelation">
                <option value="Friend">Friend</option>
                <option value="Relatives">Relatives</option>
                <option value="Business Partner">Business Partner</option>
                <option value="Others">Others</option>
                <option value=""></option>
              </select>
            </div>
            <div class="form-group">
              <label>Address *</label>
              <input type="text" id="witnessAddress" class="form-control" placeholder="79 Main Road, Suburb NSW" required />
            </div>
>>>>>>> 402a2c6bd5eed0056f9787d7300065fa082af2b6
            <div class="modal-footer" id="witnessModalFooter">
              <button type="submit" class="btn btn-light" id="addWitnessBtn" >add</button>
            </div>
          </div>
        </form>        
      </div>     
    </div>
  </div> 
