<header class="header">
  <div class="welcome">Welcome back!</div>
  <ul class="menu">
    <li class="dropdown" style="float:left;">
      <a href="#">Options</a>
      <div class="dropdown-content" style="left:0;">
        <button><i class="fas fa-envelope-square"> Email</i></button>
        <button><i class="fas fa-download"> Download</i></button>
        <button><i class="fas fa-share-alt-square"> Share</i></button>
      </div>
    </li>
    <li><a href="/api/pdf/{{id}}" target="_blank">Preview</a></li>
    <li><a href="/" id="logout">Logout</a></li>
  </ul>
</header>



<section class="user">
  <div class="logo">Thy<span>Will</span></div>
  <div class="box-1">
    <div class="box-head">
      {{#if gender}}
      <img src="/assets/images/users/oldman.jpg" alt="oldman">
      {{else}}
      <img src="/assets/images/users/oldlady.jpg" alt="oldlady">
      {{/if}}
      <div>
        <p>Will owner:</p>
        <p>{{first_name}} {{last_name}}</p>
      </div>
    </div>
    <p>Email: <a href="mailto:{{email}}">{{email}}</a></p>
    <p>D.O.B: {{DOB}}</p>
    <p>Address: {{address}}</p>
    <p>Casket: {{casket}}</p>
    <p>Ceremony: {{ceremony}}</p>
    <button>Edit</button>
  </div>

  <h2 class="title">Your Will is <span class="status">in Progress</span></h2>

  <div class="box-2">
    <div class="max-width">
      <div class="carousel owl-carousel">

        <div class="card" id="part-1">
          <h3 class="num">1</h3>
          <h4>Benificiaries</h4>
          <p>Individuals entitled to inherit money or property from this will owner.</p>
          <a href="/">Start</a>
        </div>
        <div class="card" id="part-2">
          <h3 class="checked"><i class="fas fa-check"></i></h3>
          <h4>Executors</h4>
          <p>The one to execute your wishes.</p>
          <a href="/">Edit</a>
        </div>
        <div class="card" id="part-3">
          <h3 class="num">3</h3>
          <h4>Asset</h4>
          <p>A quick list of your major Assets.</p>
          <a href="/starter/asset">Start</a>
        </div>
        <div class="card" id="part-4">
          <h3 class="num">4</h3>
          <h4>AssetApportion</h4>
          <p>Set up percentages for each benificiary.</p>
          <a href="/">Start</a>
        </div>
        <div class="card" id="part-5">
          <h3 class="num">5</h3>
          <h4>Witness</h4>
          <p>Basic info of your nominated Witness</p>
          <a href="/">Start</a>
        </div>
        <div class="card" id="part-6">
          <h3 class="num">6</h3>
          <h4>Guardians</h4>
          <p>Who should looks after your Benificiaries.</p>
          <a href="/">Start</a>
        </div>
      </div>
    </div>
  </div>

  