<header class="header">
  <div class="welcome">Welcome back!</div>
  <ul class="menu">
    <li class="dropdown" style="float:left;">
      <a href="#">Options</a>
      <div class="dropdown-content" style="left:0;">
        <button><i class="fas fa-envelope-square"> Email</i></button>
        <button><i class="fas fa-download"> Download</i></button>
        <button><i class="fas fa-share-alt-square"> Share</i></button>
      </div>
    </li>
    <li><a href="#">My Will</a></li>
    {{#if logged_in}}
    <li><a href="/" id="logout">Logout</a></li>
    {{/if}}
  </ul>
</header>
    
        
    
  <section class="user">
    <div class="logo">Thy<span>Will</span></div>
    <div class="box-1">
      <div class="box-head">
        <img src="/assets/images/users/user.jpg" alt="usericons">
        <div>
          <p>Will owner:</p>
          <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
      </div>
      <p>Email: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
      <p>D.O.B: {{user.DOB}}</p>
      <p>Address: {{user.address}}</p>
      <p>Casket: {{user.casket}}</p>
      <p>Ceremony: {{user.ceremony}}</p>
      <button>Edit</button>
    </div>

    <h2 class="title">Your Will is <span class="status">in Progress</span></h2>

    <div class="box-2">
      {{!-- <div class="max-width carousel owl-carousel"> --}}

        <div class="card" id="part-1">
          <h2 class="order">No.1</h2>
          <h4>Benificiaries</h4>
          <h5>Individuals entitled to inherit money or property from this will owner.</h5>
          <button>Start</button>
        </div>
        <div class="card" id="part-2">
          <h2 class="order">No.2</h2>
          <h4>Guardians</h4>
          <h5>Who should looks after your Benificiaries.</h5>
          <button>Start</button>
        </div>
        <div class="card" id="part-3">
          <h2 class="order">No.3</h2>
          <h4>Executors</h4>
          <h5>The one to execute your wishes</h5>
          <button>Start</button>
        </div>

      {{!-- </div> --}}
    </div>







   


{{!-- 
      <div class="box-2">
        <div class="box-2l">
          <p>Finish your Will</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, incidunt.</p>
          <button>Continue</button>
        </div>
        <div class="box-2r">
          <p><i class="far fa-check-circle"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          <p><i class="fas fa-check-square"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          <p><i class="fas fa-long-arrow-alt-down"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
          <p><i class="fas fa-thumbs-up"></i>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        </div>
      </div>
    </section> --}}